@charset "UTF-8";
a {
  color: #666;
  text-decoration: none; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 0; }

body {
  color: #666;
  font: 12px/180% Arial, Helvetica, sans-serif, "新宋体"; }

clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.clearfix {
  display: inline-table; }

*html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

* + html .clearfix {
  min-height: 1%; }

.fl {
  float: left; }

.fr {
  float: right; }

tbody tr {
  border-bottom: 1px solid #999; }

/*素材家园 - www.sucaijiayuan.com*/
.catbox {
  margin: 100px auto; }

.catbox table {
  text-align: center;
  width: 100%; }

.catbox .goods {
  width: 454px; }
  .catbox .goods .col_xs {
    margin-left: 15px;
    margin-right: 15px;
    float: left;
    border: 1px solid #ddd;
    width: 80px;
    height: 80px;
    padding: 4px; }
    .catbox .goods .col_xs a {
      width: 100%;
      height: 100%;
      overflow: hidden; }
      .catbox .goods .col_xs a img {
        width: 100%;
        height: 100%; }
  .catbox .goods .col_xsd {
    padding-right: 15px;
    padding-left: 15px;
    text-align: left;
    width: 296px;
    float: left; }
    .catbox .goods .col_xsd h5 {
      color: #555;
      font-weight: 0 !important;
      font-size: 14px; }
    .catbox .goods .col_xsd p {
      color: #333; }

.catbox table th {
  background: #efefef;
  border: 1px solid #e9e9e9;
  height: 30px; }

.catbox table td {
  padding: 10px;
  color: #444; }

.checkbox {
  width: 60px; }

.check-all {
  vertical-align: middle; }

.price {
  width: 74px; }

.count {
  width: 169px; }
  .count .reduce {
    margin-left: 15px; }

.count .add,
.count input,
.count .reduce {
  float: left;
  margin-right: -1px;
  position: relative;
  z-index: 0; }

.count .add,
.count .reduce {
  height: 27px;
  width: 30px;
  border: 1px solid #aaa;
  background: #fff;
  text-align: center;
  line-height: 30px;
  color: #444; }

.count .add:hover,
.count .reduce:hover {
  z-index: 3;
  background: #ccc;
  cursor: pointer; }

.count input {
  width: 70px;
  height: 20px;
  line-height: 20px;
  border: 1px solid #aaa;
  color: #343434;
  text-align: center;
  padding: 4px 0;
  background-color: #fff;
  z-index: 2; }

.subtotal {
  width: 150px;
  color: red;
  font-weight: bold; }

.operation span:hover,
a:hover {
  cursor: pointer;
  text-decoration: underline; }

.cart-foot {
  margin-top: 0px;
  color: #666;
  height: 48px;
  border: 1px solid #c8c8c8;
  border-top: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(RGB(241, 241, 241)), to(RGB(226, 226, 226)));
  background-image: -webkit-linear-gradient(RGB(241, 241, 241), RGB(226, 226, 226));
  background-image: -o-linear-gradient(RGB(241, 241, 241), RGB(226, 226, 226));
  background-image: linear-gradient(RGB(241, 241, 241), RGB(226, 226, 226));
  position: relative;
  z-index: 8; }

.cart-foot div,
.cart-foot a {
  line-height: 48px;
  height: 48px; }

.cart-foot .select-all {
  width: 80px;
  height: 48px;
  line-height: 48px;
  color: #666;
  text-align: center; }

.cart-foot .delete {
  padding-left: 10px; }

.cart-foot .closing {
  border-left: 1px solid #c8c8c8;
  width: 103px;
  text-align: center;
  background: #ed1c24 !important;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  background-image: -webkit-gradient(linear, left top, left bottom, from(RGB(241, 241, 241)), to(RGB(226, 226, 226)));
  background-image: -webkit-linear-gradient(RGB(241, 241, 241), RGB(226, 226, 226));
  background-image: -o-linear-gradient(RGB(241, 241, 241), RGB(226, 226, 226));
  background-image: linear-gradient(RGB(241, 241, 241), RGB(226, 226, 226)); }

.cart-foot .closing:hover {
  background: #8a1708e1 !important; }

.cart-foot .total {
  margin: 0 20px;
  cursor: pointer; }

.cart-foot #priceTotal,
.cart-foot #selectedTotal {
  color: red;
  font-family: "Microsoft Yahei";
  font-weight: bold; }

.cart-foot .selected {
  cursor: pointer; }

.cart-foot .selected .arrow {
  position: relative;
  top: -3px;
  margin-left: 3px; }

.cart-foot .selected .down {
  position: relative;
  top: 3px;
  display: none; }

.show .selected .down {
  display: inline; }

.show .selected .up {
  display: none; }

.cart-foot .selected:hover .arrow {
  color: red; }

.cart-foot .selected-view {
  width: 938px;
  border: 1px solid #c8c8c8;
  position: absolute;
  height: auto;
  z-index: 9;
  bottom: 48px;
  left: -1px;
  display: none; }

.show .selected-view {
  display: block; }

.cart-foot .selected-view div {
  height: auto; }

.cart-foot .selected-view .arrow {
  font-size: 16px;
  line-height: 100%;
  color: #c8c8c8;
  position: absolute;
  right: 330px;
  bottom: -9px; }

.cart-foot .selected-view .arrow span {
  color: #ffffff;
  position: absolute;
  left: 0px;
  bottom: 1px; }

#selectedViewList {
  padding: 10px 20px 10px 20px; }

#selectedViewList div {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 80px;
  border: 1px solid #ccc;
  margin: 10px;
  float: left; }

#selectedViewList div img {
  width: 100px;
  height: 80px;
  margin-right: 10px;
  float: left; }

#selectedViewList div span {
  display: none;
  color: #ffffff;
  font-size: 12px;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 60px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  background: #000;
  cursor: pointer; }

#selectedViewList div:hover span {
  display: block; }
