.site_footer {
  height: 706px;
  background: #fff; }
  .site_footer .w .footer {
    margin: 40px 0 20px 0; }
    .site_footer .w .footer .list_service li {
      float: left;
      width: 185px;
      padding-left: 35px; }
      .site_footer .w .footer .list_service li .foo_cn {
        float: left;
        margin: 12px 12px 0 0; }
      .site_footer .w .footer .list_service li .foo_title h4 {
        margin-bottom: 5px;
        font-size: 18px;
        margin-top: 10px; }
      .site_footer .w .footer .list_service li .foo_title small {
        color: #b2b2b2;
        font-size: 12px; }
  .site_footer .w .footer_links {
    padding: 50px 0;
    border-top: 1px solid #eaeaea; }
    .site_footer .w .footer_links dl {
      float: left;
      width: 140px;
      margin-bottom: 20px;
      line-height: 35px; }
      .site_footer .w .footer_links dl dt {
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 14px; }
      .site_footer .w .footer_links dl dd {
        font-size: 12px; }
    .site_footer .w .footer_links .links_iphone {
      border-left: 1px solid #eaeaea;
      width: 250px;
      height: 125px;
      float: right;
      text-align: center; }
      .site_footer .w .footer_links .links_iphone .hotline {
        font-size: 14px;
        color: #6f6c71;
        font-weight: 600; }
      .site_footer .w .footer_links .links_iphone .tele {
        color: #ff5d59;
        font-size: 26px;
        margin-bottom: 15px; }
      .site_footer .w .footer_links .links_iphone .customer {
        border: 1px solid #ff5d59;
        padding: 5px 10px;
        color: #ff5d59;
        font-size: 14px; }
      .site_footer .w .footer_links .links_iphone .zixun {
        margin-right: 10px; }

.for_footer {
  padding: 0 100px;
  background: #313131;
  height: 100px;
  line-height: 100px;
  font-size: 14px; }
  .for_footer .for_logo {
    float: left; }
    .for_footer .for_logo img {
      vertical-align: middle; }
  .for_footer .for_link {
    float: right;
    color: #666;
    font-size: 12px; }
    .for_footer .for_link p {
      display: inline-block; }

.for_theme {
  background: #f8f8f8;
  text-align: center;
  padding: 10px 0; }
